@import 'pod-styles';
@import 'ember-flex';
@import "ember-power-select";
@import 'ember-burger-menu';

$accent-color: #f5efef;
$text-color: black;
$animation-duration: $bm-transition-duration - 0.1s;

@mixin link-color($color) {
  color: $color;

  &:hover,
  &:focus,
  &:active,
  &:active:focus,
  &.active,
  &.active:hover,
  &.active:focus {
    color: $color;
  }
}

html,
body,
body > .ember-view {
  margin: 0px;
  height: 100%;
  width: 100%;
  font-family: 'Bungee Hairline', cursive;
  font-weight: 300;
  color: $text-color;
}

h1,
h2 {
  margin: 0;
  padding-top: 1em;
  padding-left: 2px;
  color: black;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  font-size: 2em;
  font-family: 'Bungee Hairline', cursive;
  font-weight: bold;
  user-select: none;

  > i {
    padding-right: 10px;
  }
}
h3 {
  color: black;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  font-size: 1.5em;
  font-weight: bold;
  user-select: none;

  > i {
    padding-right: 10px;
  }
}
h4 {
  margin: 4px;
}
h5,
label {
  font-weight: 300;
}

div.mainBody {
  margin: 0;
  padding: 2px;
  color: black;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  text-align: left;
  font-family: 'Bungee Hairline', cursive;

  .component {
    padding-top: 4px;
  }
}

a {
  color: $accent-color;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: darken($accent-color, 0.5);
  }

  &:active,
  &:focus {
    text-decoration: none;
  }
}

::-webkit-scrollbar {
  display: none;
}

.leaflet-container {
  height: 400px;
}

.pointer {
  cursor: pointer;
}

.ember-burger-menu {
  .bm-menu {
    border-right: 0.5px solid;
    border-color: #cecaca;
    background: $accent-color;
    overflow: auto;

    .close {
      position: absolute;
      top: 0;
      padding: 2px;
      color: #000;
      opacity: 0.2;

      &:hover {
        opacity: 0.5;
      }

      &.left {
        right: 0;
      }
    }

    h2 {
      padding: 1em;
      color: black;
      text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
      font-size: 2em;
      font-family: 'Bungee Hairline', cursive;
      font-weight: bold;
      user-select: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        a {
          display: block;
          padding: 1em 1em 1em 1.2em;
          outline: none;
          border-bottom: 1px solid rgba(0, 0, 0, 0.2);
          color: $text-color;
          text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
          letter-spacing: 1px;
          -webkit-transition: background $animation-duration;
          transition: background $animation-duration;
          cursor: pointer;

          &:hover {
            background: darken($accent-color, 5);
          }
        }
      }
    }
  }
}

.hamburger {
  position: absolute;
  top: 0;
  padding: 2px;
  color: #000;
  opacity: 0.5;
  z-index: 100;
  transition: opacity $animation-duration;
  -webkit-transition: opacity $animation-duration;

  &:hover,
  &:focus,
  &:active,
  &:active:focus,
  &.active,
  &.active:hover,
  &.active:focus {}

  &:hover,
  &:focus,
  &:active {
    color: #ccc;
  }
}
