<h2>Index Page</h2>

<h2><button {{action "toggleSave"}}>Save</button></h2>

{{map-component class="leaflet-container" lat="46" lng="-122" zoom=5 geojson=geojson points=points saveEvent=saveEvent}}

<br />
{{#power-select options=names selected=chosenName onchange=(action "changeSelection") as |name|}}
  {{name}}
{{/power-select}}