<h2>Index Page</h2>

<div class="mainBody">
  <div class="component">
    {{playground-button buttonDisabled=flightDemo buttonAction=(action "toggleFlightDemo") text="Start Flight Demo"}}
  </div>
  
  <div class="component">
    {{map-component
        class="leaflet-container"
        latVal="-25.3444"
        lngVal="131.0369"
        zoomVal="1"
        geojson=geojson
        points=points
        saveEvent=saveEvent
        flightDemo=flightDemo
        destination=destinationChoice}}
  </div>

  <div class="component">
    <h4>Fly to:</h4>
    {{#power-select
        options=options
        selected=destinationChoice
        onchange=(action "changeSelection") as |option|}}
      {{option}}
    {{/power-select}}
  </div>
</div>
