<h2>Flights v2</h2>

<div class="mainBody">
  <div class="component">
    {{playground-button buttonAction=(action "takeOff") text=componentButtonText}}
  </div>

  <div class="component">
    {{#map-component
        class="leaflet-container"
        latVal=latitude
        lngVal=longitude
        zoomVal=zoom
        geojson=geojson
        points=points
        saveEvent=saveEvent
        drawEnabled=false
        destination=destinationChoice
        mapInstance=mapInstance
        imageOverlays=imageOverlays
        videoOverlays=videoOverlays
        componentOverlays=componentOverlays}}
      {{#if mapInstance}}
        {{!-- Display group to capture a unique layer for display boxes/points --}}
        {{#map-component/display-group
            mapInstance=mapInstance
            layerGroup=layerGroup
            layerName=layerGroupName
            componentOverlays=componentOverlays
            as |dg|}}
          {{#if dg}}
            {{!-- Display box to render child components on the map within lat/lng bounds --}}
            {{#map-component/display-box
                layerId=firstLayerId
                upperLeft=upperLeftSVG
                lowerRight=lowerRightSVG
                layerGroup=layerGroup
                as |db|}}
              {{#if (and db takeOff)}}
                {{#ember-wormhole to=firstLayerId}}
                  {{svg-component}}
                {{/ember-wormhole}}
              {{/if}}
            {{/map-component/display-box}}
          {{/if}}
        {{/map-component/display-group}}
        {{!-- Markers for SVG component bounds --}}
        {{#marker-layer location=upperLeftSVG}}
          {{#popup-layer}}
            <h3>Origin</h3>
          {{/popup-layer}}
        {{/marker-layer}}
        {{#marker-layer location=lowerRightSVG}}
          {{#popup-layer}}
            <h3>Destination</h3>
          {{/popup-layer}}
        {{/marker-layer}}
      {{/if}}
      {{!-- Layer-Control --}}
      {{map-component/layer-control
        handler=(action "layerControlEvent")
        imageOverlays=imageOverlays
        videoOverlays=videoOverlays
        componentOverlays=componentOverlays
      }}
    {{/map-component}}
  </div>

</div>