<h2>Flights v1</h2>

<div class="mainBody">
  <div class="component">
    {{playground-button class="flightsv1Trigger" buttonDisabled=flightDemo buttonAction=(action "toggleFlightDemo") text=buttonText}}
  </div>
  
  <div class="component">
    {{#map-component
        class="leaflet-container"
        latVal=latitude
        lngVal=longitude
        zoomVal=zoom
        flightDemo=flightDemo
        destination=destinationChoice
        mapInstance=mapInstance
        imageOverlays=imageOverlays
        videoOverlays=videoOverlays
        componentOverlays=componentOverlays}}
      {{!-- Layer-Control --}}
      {{map-component/layer-control
        handler=(action "layerControlEvent")
        imageOverlays=imageOverlays
        videoOverlays=videoOverlays
        componentOverlays=componentOverlays
      }}
    {{/map-component}}
  </div>

</div>
