{{outlet}}
<h4>
  Transition To: 
  <button {{action "indexRoute"}}>Index Route</button> 
  <button {{action "editorRoute"}}>Editor Route</button>
  <button {{action "aboutPage"}}>About Page</button>
</h4>