<h2>Editor</h2>

<div class="mainBody">
  <div class="component">
    {{playground-button buttonAction=(action "toggleSave") text=saveButtonText}}
  </div>

  <div class="component">
    {{#map-component
        class="leaflet-container"
        latVal=latitude
        lngVal=longitude
        zoomVal=zoom
        geojson=geojson
        points=points
        saveEvent=saveEvent
        drawEnabled=true
        destination=destinationChoice
        mapInstance=mapInstance
        imageOverlays=imageOverlays
        videoOverlays=videoOverlays
        componentOverlays=componentOverlays}}
      {{!-- Layer-Control --}}
      {{map-component/layer-control
        handler=(action "layerControlEvent")
        imageOverlays=imageOverlays
        videoOverlays=videoOverlays
        componentOverlays=componentOverlays
      }}
    {{/map-component}}
  </div>

  <div class="component">
    <h4>Fly to:</h4>
    {{#power-select
        options=options
        selected=destinationChoice
        onchange=(action "changeSelection") as |option|}}
      {{option}}
    {{/power-select}}
  </div>
</div>